5dye_start_ml
#Name,CompoundType,ProcessType,Min,Max,Precision
AcidRed871_0gL,liquid,dye,0,4.4,0.2
Tartrazine1_0gL,liquid,dye,0,4.4,0.2
BromocresolGreen0_25gL,liquid,dye,0,4.4,0.2
AcidGreen25_0_25gL,liquid,dye,0,4.4,0.2
ErythrosinB1_0gL,liquid,dye,0,4.4,0.2

Constraints
##### Expression >=0 ######
4.5 - AcidRed871_0gL - Tartrazine1_0gL - ErythrosinB1_0gL - BromocresolGreen0_25gL - AcidGreen25_0_25gL

Controls
##### Name : Value, Name : Value, ... ######
AcidRed871_0gL : 0, Tartrazine1_0gL : 0, BromocresolGreen0_25gL : 0, AcidGreen25_0_25gL : 0, ErythrosinB1_0gL : 0
