sonication_time_min:10
illumination_time_min:60
gc_method:constant-HS rc
purge_time:60
cap_vials:1

SampleIndex,P10-CA1,TEOA-0-5VV,water,Li2SO4-2M,Rb2SO4-0-75M,K2SO4-0-5M,HCl-10M,NaOH-10M
${idx},${P10-CA1},${TEOA-0-5VV},${water},${Li2SO4-2M},${Rb2SO4-0-75M},${K2SO4-0-5M},${HCl-10M},${NaOH-10M}