hypothesis test
#Name,CompoundType,ProcessType,Min,Max,Precision[,stock solution name with same compound, concentration factor]^n
Li2SO4-2M,liquid,salt,0,4.4,0.2
Rb2SO4-0-75M,liquid,salt,0,4.4,0.2
K2SO4-0-5M,liquid,salt,0,4.4,0.2
HCl-10M,liquid,acid,0,4.4,0.2
NaOH-10M,liquid,base,0,4.4,0.4
TEOA-0-5VV,liquid,sac_elec_don,0.5,0.5,0.2
P10-CA1,solid,cat,5,5,0.2

Constraints
##### Expression >=0 - avoid constants ######
4.5 - Li2SO4-2M - Rb2SO4-0-75M - K2SO4-0-5M - HCl-10M - NaOH-10M

Controls
##### Name : Value, Name : Value, ... ######
Li2SO4-2M : 0 , Rb2SO4-0-75M : 0 , K2SO4-0-5M : 0 , HCl-10M : 0, NaOH-10M : 0 , P10-CA1 : 5, TEOA-0-5VV : 0.5

Complements
### Name A : Name B ###
HCl-10M : NaOH-10M