hypothesis
#Name,CompoundType,ProcessType,Min,Max,Precision[,stock solution name with same compound, concentration factor]^n
NaCl-1M,liquid,salt,0,4.4,0.2
NaNO3-1M,liquid,salt,0,4.4,0.2
Na2SO4-1M,liquid,salt,0,4.4,0.2
Na2CO3-1M,liquid,salt,0,4.4,0.2
NaHCO3-1M,liquid,salt,0,4.4,0.2
Na2PO4-0-25M,liquid,salt,0,4.4,0.2,Na2PO4-0-5M,2
Al2SO43-0-5M,liquid,salt,0,4.4,0.2
MgSO4-0-5M,liquid,salt,0,4.4,0.2
Li2SO4-2M,liquid,salt,0,4.4,0.2
Rb2SO4-0-75M,liquid,salt,0,4.4,0.2
K2SO4-0-5M,liquid,salt,0,4.4,0.2
NH4Cl-4M,liquid,salt,0,4.4,0.2,
TEOA-0-5VV,liquid,sac_elec_don,0.5,0.5,0.2
P10-CA1,solid,cat,5,5,0.2

Constraints
##### Expression >=0 - avoid constants ######
4.5 - NaCl-1M - NaNO3-1M - Na2SO4-1M - Na2CO3-1M - NaHCO3-1M - Na2PO4-0-25M - Al2SO43-0-5M - MgSO4-0-5M - Li2SO4-2M - Rb2SO4-0-75M - K2SO4-0-5M - NH4Cl-4M 

Controls
##### Name : Value, Name : Value, ... ######
NaCl-1M : 0, NaNO3-1M : 0, Na2SO4-1M : 0, Na2CO3-1M : 0, NaHCO3-1M : 0, Na2PO4-0-25M : 0,P10-CA1 : 5, TEOA-0-5VV : 0.5, Al2SO43-0-5M : 0, MgSO4-0-5M  : 0 , Li2SO4-2M : 0 , Rb2SO4-0-75M : 0 , K2SO4-0-5M : 0 , NH4Cl-4M : 0
NaCl-1M : 0, NaNO3-1M : 0, Na2SO4-1M : 0, Na2CO3-1M : 0, NaHCO3-1M : 0, Na2PO4-0-25M : 0,P10-CA1 : 5, TEOA-0-5VV : 0.5, Al2SO43-0-5M : 0, MgSO4-0-5M  : 0 , Li2SO4-2M : 0 , Rb2SO4-0-75M : 0 , K2SO4-0-5M : 0 , NH4Cl-4M : 0

