biomass-p10-optimizer
#Name,CompoundType,ProcessType,Min,Max,Precision[,stock solution name with same compound, concentration factor]^n
P10-MIX1,solid,cat,1,5.1,0.2
L-Cysteine-100gL,liquid,sac_elec_don,0.25,5,0.25
NaCl-3M,liquid,salt,0,5,0.25
NaOH-1M,liquid,pH,0,5,0.25
PVP-1wt,liquid,surfactant,0,5,0.25
SDS-1wt,liquid,,0,5,0.25
Sodiumsilicate-1wt,liquid,Hanchor,0,5,0.25
AcidRed871_0gL,liquid,dye,0,5,0.25
RhodamineB1_0gL,liquid,dye,0,5,0.25
MethyleneB_250mgL,liquid,dye,0,5,0.25

Constraints
##### Expression >=0 - avoid constants ######
5 - L-Cysteine-100gL - NaCl-3M - NaOH-1M - PVP-1wt - SDS-1wt - Sodiumsilicate-1wt - AcidRed871_0gL - RhodamineB1_0gL - MethyleneB_250mgL

Controls
##### Name : Value, Name : Value, ... ######
P10-MIX1 : 5 , L-Cysteine-100gL : 0.5 , NaCl-3M : 0 , NaOH-1M : 0 , PVP-1wt : 0 , SDS-1wt : 0 , Sodiumsilicate-1wt : 0 , AcidRed871_0gL : 0 , RhodamineB1_0gL : 0 , MethyleneB_250mgL : 0
P10-MIX1 : 5 , L-Cysteine-100gL : 0.5 , NaCl-3M : 0 , NaOH-1M : 0 , PVP-1wt : 0 , SDS-1wt : 0 , Sodiumsilicate-1wt : 0 , AcidRed871_0gL : 0 , RhodamineB1_0gL : 0 , MethyleneB_250mgL : 0

# Complements
### Name A : Name B order dependent with list of compounds above ###
